.flipcard {
  position: relative;
  width: 10%;
  min-width: 100px;
  height: 100px;
  perspective: 500px;
  display: block;
  margin: 10px;
  cursor: pointer;
  
}

.flipcard:hover .front {
  transform: rotateY(180deg);
}

.flipcard:hover .back {
  transform: rotateY(0deg);
}

.flipcard .back {
  transform: rotateY(-180deg);
}

.flipcard .front, .flipcard .back {
  position: absolute;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  font-size: 10px;
  background-color: rgb(155, 32, 32);
  padding: 10px;
  backface-visibility: hidden;
  padding: 10px;
}